
body{
    line-height: 1;
    background: #F1F1F1;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 38px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #A7A7A7;
}

h1, h2 {
    margin-top: 30px;
}

.content{
    padding-bottom: 15px;
    border-bottom: 1px dashed #A7A7A7;
    margin-bottom: 30px;
}

.btn{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: #009688;
    border-color: #009688;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}

.input-text{
    font-family: 'Ubuntu', sans-serif;
    min-height: 180px;
    padding: 10px;
    font-size: 16px;
    border-color: #009688;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

.min-h-100{
    min-height: 120px;
}

.py-3{
    padding-top: 15px;
    padding-bottom: 15px;
}

.result {
    display: none;
}

.h-80 {
    height: 88% !important;
}
